<p id="notice"><%= notice %></p>

<h2>Productos:</h2>
<ul>
    <% @productos.each do |producto| %>
      <li>
        <%= link_to producto.name ,producto_path(producto)%>
        (<%= producto.precio_con_descuento %>€)
        (<%= producto.stock? %>)
        <%= link_to 'Editar', edit_producto_path(producto) %>
        <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar #{producto.name}?"} %>
      </li>
    <% end %>
</ul>
  <% if @page>1 %>
    <%= link_to "Retroceder", productos_path(page: @page -1) %>
  <% end %>

  <% if @page < @total_pages %>
    <%= link_to "Avanzar", productos_path(page: @page +1) %>
  <% end %>

<br>

<%= link_to 'Nuevo Producto', new_producto_path %>
