<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<ul>
    <% @productos.each do |producto| %>
      <li>
        <%= link_to producto.name ,producto_path(producto)%>
        (<%= producto.price %>€)
        <%= link_to 'Editar', edit_producto_path(producto) %>
        <%= link_to 'Eliminar', producto, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar #{producto.name}?"} %>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'Nuevo Producto', new_producto_path %>
