<h2>SergioShop</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @producto.description %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @producto.reference %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.price %> €
</p>

<p>
  <strong>Gastos de envío:</strong>
  <%= number_to_currency(@producto.gastos_envio(@producto.price), unit: "") + " €" %>
</p>

<p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Volver', productos_path %>
