<!DOCTYPE html>
<html>
  <head>
    <title>SergioShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <h1>SergioShop</h1>
      <% if logged_in? %>
       Bienvenido, <%= current_cliente.usuario %> |
       <%= link_to "Salir", logout_path, method: :delete %>
       <% else %>
       <%= link_to "Iniciar sesión", login_path %>
       <% end %>
      <nav>
         <%= link_to 'Inicio', root_path %> |
         <%= link_to 'Productos', productos_path %> |
         <%= link_to 'Clientes', clientes_path %> 
         </nav>
         
    </header>

    <%= yield %>

    <footer>
       <p>&copy; <%= Time.current.year %> SergioShop - Todos los derechos reservados</p>
    </footer>
  </body>
</html>
