<p id="notice"><%= notice %></p>

<h1>SergioShop</h1>
<h2>Clientes:</h2>
<ul>
    <% @clientes.each do |cliente| %>
      <li>
        <%= link_to cliente.nombre ,cliente_path(cliente)%>
        <%= link_to 'Editar', edit_cliente_path(cliente) %>
        <%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar a #{cliente.nombre}?"} %>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
