<h2>Cliente:</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @cliente.usuario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>password:</strong>
  <%= @cliente.password %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Volver', clientes_path %>
